* { /* to remove the top and left whitespace */
  font-family: 'Open Sans', sans-serif;
}

html, body { /* just to be sure these are full screen*/
    font-size: 18px;
    background-color: #c7d2db;
}

h1,h2,h3,h4,h5,h6,p {
    line-height: 1.45;
}

legend {
    padding: 10px;
}

.logo {
    padding: 20px;
    text-align: center;
    max-width: 200px;
    display: block;
    margin: auto;
}

.container-fluid {
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    border: 5px solid #6b5a43;
    margin: 1% 10% 1% 10%;
    background: #f1c7dd; /* Old browsers */

}

.break_mode {
    background: #7EB6CE;
}


.controls {
    text-align: center;
    padding: 5px;
}

.sets {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.timer {
    font-size: 5em;
    letter-spacing: 4px;
    color: #b1487a;
    text-align: center;
}


.footer {
    text-align: center;
    background-color: #b6ce7e;
    -moz-border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    border-radius: 0 0 30px 30px;
    border-top: 5px solid #6b5a43;
}


.main-headline {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
}

.offscreen {
	top: -9000px !important;
	position: absolute !important;
	left: -9000px !important;
}

.button {
    cursor: pointer;
}

.button-large {
    max-width: 100px;

}
.button-small {
    max-width: 50px;
}

.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.75);
}

.overlay-content {
    background: #fff;
    padding: 1%;
    width: 80%;
    position: relative;
    top: 0;
    left: 50%;
    margin: 0 0 0 -40%; /* add negative left margin for half the width to center the div */
    cursor: default;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    background-color: #c7d2db;
}

@media screen and (max-width: 600px){
  html, body {
    font-size: 12px;
  }
  h1 {
      font-size: 3em;
  }
}