---
title: FitWorkLife
layout: default
---
<div class="row">
  <div class="col-md-3">
    {% include logo.svg %}
    {% include logo-rest.svg %}
  </div>
  <div class="col-md-9">
    <h1 class="main-headline" class="col-md-6">Fit Work Life</h1>
  </div>
</div>
<div class="row">
  <div class="controls col-md-6">
    {% include media-play.svg %}
    {% include media-pause.svg %}
    {% include media-stop.svg %}
  </div>
  <div class="col-md-6">
    <p id="sets" class="sets">
      Sets: 0
    </p>
    <p id="timer" class="timer">
      00:00
    </p>
  </div>
</div>
<div id="footer"  class="row footer">
  <object id="button_gear" class="button button-small" data="assets/gear.svg">Gear button</object>
</div>
</div>
<div id="debugText">Hi there!</div>
<div class="overlay-bg offscreen">
  <div id="options" class="overlay-content">
    {% include options.md %}
  </div>
</div>
